* {
  box-sizing: border-box;
}

$font: 'Open Sans', Arial, Helvetica, sans-serif;

body {
  margin: 0;
  padding: 0 0 100px;
  color: #3c3c3c;
  font: 16px/1.5 $font;
}

a,
a:visited,
a:hover {
  outline: none;
  color: #389dc1;
  text-decoration: none;
}

.page-header {
  padding: 1px 0 0;
  text-align: center;
}

.separator {
  width: 50%;
  max-width: 800px;
  margin: 25px auto;
  background: #3c3c3c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.hidden { display: none !important; }

.title-primary    { font-size: 48px; }
.secondary-title  { font-size: 32px; }

.title-primary,
.secondary-title  { margin: 25px 0; }

.green  { color: #61a64f; }
.red    { color: #eb263a; }

.navigation {
  margin: 25px 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 6px 15px 4px;
    color: #e1ba4c;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background: #f2f2f2;
    transition: color .6s, background .3s;

    &:hover,
    &.active {
      color: #fff;
      background: darken(#f2f2f2, 25%);
    }

    &.active { cursor: default; }
  }
}

.img-upload {
  margin: 35px 0;
  text-align: center;

  label[for="userImage"],
  input[name="submit"] {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    font: bold 14px/32px $font;
    border: 1px solid darken(#f2f2f2, 50%);
    border-radius: 5px;
    background: #f2f2f2;
    vertical-align: middle;
    cursor: pointer;
  }

  label[for="userImage"] {
    span { color: #e1ba4c; }
  }
}

.image-display {
  text-align: center;

  img {
    display: inline-block;
    max-width: 350px;
    max-height: 350px;
    margin: 0 0 15px;
  }
}

.button-holder{
  > form { display: inline-block; }

  input {
    width: 55px;
    height: 45px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    background: url('../images/sprite.svg') no-repeat 0 0;
    text-indent: -9999px;
    transition: all .3s;

    &:active {
      position: relative;
      bottom: -1px;
    }

    &:hover {
      opacity: 0.7;
    }

    &[name="like"] {
      background: url('../images/sprite.svg') #aadb9c 16px -69px no-repeat;
    }

    &[name="dislike"] {
      background: url('../images/sprite.svg') #f3818d 16px 12px no-repeat;
    }

    &[name="like"], &[name="dislike"] { background-size: 25px !important; }
  }
}

.standings {
  margin: 55px 0 25px;

  ul {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0;
    counter-reset:ranks;

    li {
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      list-style: none;
      background-color: #f6f6f6;
      border-radius: 5px;

      &:before {
        counter-increment: ranks;
        content: counter(ranks);
        position: absolute;
        top: 60px;
        left: -50px;
        font-size: 24px;
        font-weight: bold;
        color: #aaa;
      }
    }

    .vote {
      position: absolute;
      left: 200px;
      top: 40px;
      background: url('../images/sprite.svg') no-repeat;
      line-height: 40px;
      font-weight: bold;
      font-size: 24px;
      padding-left: 55px;

      &.up {
        color: #90d184;
        background-position: 17px -300px;
      }

      &.down {
        color: #e67a85;
        top: 85px;
        background-position: 17px -192px;
      }
    }
  }

  .thumbnail {
    max-width: 155px;
    border-radius: 3px;
  }
}