* {
  box-sizing: border-box;
}

$font: 'Open Sans', Arial, Helvetica, sans-serif;

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after { clear: both; }
}

body {
  margin: 0;
  padding: 0 0 100px;
  color: #3c3c3c;
  font: 16px/1.5 $font;
}

a,
a:visited,
a:hover {
  outline: none;
  color: #389dc1;
  text-decoration: none;
}

.page-header {
  padding: 1px 0 0;
  text-align: center;
}

.separator {
  width: 50%;
  max-width: 800px;
  margin: 25px auto;
  background: #3c3c3c;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.hidden { display: none !important; }

.title-primary    { font-size: 48px; }
.secondary-title  { font-size: 32px; }

.title-primary,
.secondary-title  { margin: 25px 0; }

.green  { color: #61a64f; }
.red    { color: #eb263a; }

.navigation {
  margin: 25px 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 6px 15px 4px;
    color: #e1ba4c;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background: #f2f2f2;
    transition: color .5s, background .2s;

    &:hover,
    &.active {
      color: #fff;
      background: darken(#f2f2f2, 25%);
    }

    &.active { cursor: default; }
  }
}

.img-upload {
  margin: 35px 0;
  text-align: center;

  label[for="userImage"],
  input[name="submit"] {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    font: bold 14px/32px $font;
    border: 1px solid darken(#f2f2f2, 50%);
    border-radius: 5px;
    background: #f2f2f2;
    vertical-align: middle;
    cursor: pointer;
  }

  label[for="userImage"] {
    span { color: #e1ba4c; }
  }
}

$photo-item-width: 150px;
.photo-list {
  width: ($photo-item-width * 4) + (10 * 4);
  margin: 50px auto;
  @include clearfix;

  .photo-item {
    display: block;
    float: left;
    width: $photo-item-width;
    height: 120px;
    padding: 10px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 3px;
    word-wrap: break-word;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      background-color: darken(#f6f6f6, 20);
    }

    >img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.img-modal {
  display: none;

  .modal-overlay {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000, 0.8);
    z-index: 1040;
  }

  .modal-dialog {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1050;
  }

  .modal-body {
    position: relative;
    display: table;
    margin: 30px auto;
    padding: 25px;
    border-radius: 3px;
    background-color: white;
    z-index: 1100;
  }

  .modal-close {
    position: absolute;
    right: -18px;
    top: -18px;
    height: 40px;
    width: 40px;
    font: bold 18px/42px arial;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer
  }
}

.modal-content {
  text-align: center;

  img {
    display: inline-block;
    max-width: 450px;
    margin: 0 0 15px;
  }
}

.button-holder{
  margin: 0 0 15px;
  > form { display: inline-block; }

  input {
    width: 55px;
    height: 45px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    background: url('../images/sprite.svg') no-repeat 0 0;
    text-indent: -9999px;
    transition: all .2s;

    &:active {
      position: relative;
      bottom: -1px;
    }

    &:hover {
      opacity: 0.7;
    }

    &[name="like"] {
      background: url('../images/sprite.svg') #aadb9c 16px -69px no-repeat;
    }

    &[name="dislike"] {
      background: url('../images/sprite.svg') #f3818d 16px 12px no-repeat;
    }

    &[name="like"], &[name="dislike"] { background-size: 25px !important; }
  }
}

.comments-section {
  text-align: left;
  font-size: 15px;

  .comments-amount {
    font-weight: bold;
    text-align: right;
    > span { color: #f3818d; }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    div {
      position: relative;
      overflow: hidden;
    }
  }

  legend {
    padding: 0;
    margin: 0 0 2px;
  }

  [name="comment"] {
    float: left;
    width: 80%;
    min-height: 70px;
    padding: 10px;
    margin: 0;
    resize: vertical;
    border: 1px solid #3c3c3c;
  }

  [name="post"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    margin: 0 0 0 -1px;
    resize: vertical;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: #e67e22;
    border: 1px solid #3c3c3c;
    cursor: pointer;
    transition: background .2s;

    &:hover {
      background: darken(#e67e22, 15);
    }
  }
}

.standings {
  margin: 55px 0 25px;

  ul {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0;
    counter-reset:ranks;

    li {
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      list-style: none;
      background-color: #f6f6f6;
      border-radius: 5px;

      &:before {
        counter-increment: ranks;
        content: counter(ranks);
        position: absolute;
        top: 60px;
        left: -50px;
        font-size: 24px;
        font-weight: bold;
        color: #aaa;
      }
    }

    .vote {
      position: absolute;
      left: 200px;
      top: 40px;
      background: url('../images/sprite.svg') no-repeat;
      line-height: 40px;
      font-weight: bold;
      font-size: 24px;
      padding-left: 55px;

      &.up {
        color: #90d184;
        background-position: 17px -300px;
      }

      &.down {
        color: #e67a85;
        top: 85px;
        background-position: 17px -192px;
      }
    }
  }

  .thumbnail {
    max-width: 150px;
    border-radius: 3px;
  }
}