<nav class="navigation">
	<a class="active" href="./">Game</a>
	<a href="./standings">Standings</a>
</nav>
<div class="img-upload">
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="./"
          method="post"
          >
      <label for="userImage">Upload Image</label>
      <input id="userImage" class="hidden" type="file" name="userImage"/>
      <input class="hidden" type="submit" value="Go!" name="submit">
    </form>
</div>
<div class="image-display">

  {{#if photo}}

  <img src="photos/{{photo.name}}" alt="{{photo.name}}" />
  <div> comments: <span>{{photo.comments.amount}}</span></div>
  {{#if photo.comments.list.length}}
    <div>FUCK YEAH!</div>
  {{/if}}
  <div class="comments">
    <form id="commentForm" action="/comment" method="post">
      <textarea id="commentField" name="comment"></textarea>
      <input type="hidden" name="photo" value="{{photo.name}}" />
      <input type="submit" value="Post" name="post" />
    </form>
  </div>
  <div class="button-holder">
    <form action="./cute" method="post">
      <input type="hidden" name="photo" value="{{photo.name}}" />
      <input type="submit" value="Cute!" name="like" />
    </form>
    <form action="./notcute" method="post">
      <input type="hidden" name="photo" value="{{photo.name}}" />
      <input type="submit" value="Not Cute!" name="dislike" />
    </form>
  </div>

  {{else}}

  <h2 class="title-secondary">
    No more photos to vote on! Upload more or check out the
    <a href="./standings">standings</a>.
  </h2>

  {{/if}}
</div>
