<nav class="navigation">
	<a class="active" href="./">Game</a>
	<a href="./standings">Standings</a>
</nav>
<div class="img-upload">
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="./imgUpload"
          method="post"
          >
      <label for="userImage">Upload Image</label>
      <input id="userImage" class="hidden" type="file" name="userImage" />
      <input id="imgUploadSubmit" class="hidden" type="submit" value="Go!" name="submit">
    </form>
</div>
<div class="photo-list">
  {{#if photos}}

    {{#each photos}}

      <a class="photo-item" href="#" data-name="{{name}}">
        <img src="photos/{{name}}" alt="{{name}}"/>
      </a>

    {{/each}}

  {{else}}

    <h2 class="title-secondary">
      No more photos to vote on! Upload more or check out the
      <a href="./standings">standings</a>.
    </h2>

  {{/if}}
</div>

